/* header, nav */

header {
  align-items: center;
}

header nav {
position: absolute;
justify-content: center;
left:0;
right:0;
}

header #logo {
height: 50px;
float: left;
margin-right: 10%;
margin-left: 3%;
padding-top: 27px;
}

header nav ul {
margin: 0px;
padding: 0px;
text-align: center;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}

header nav ul li {
padding-top: 15px;
padding-right: 10%;
margin: 0px;
list-style-type: none;
overflow: hidden;
}

header nav ul li a {
padding-top:25px;
display: block;
text-decoration: none;
font-family: 'Ubuntu', sans-serif;
font-size: 1em;
font-weight: 400;
letter-spacing: 1.75px;
text-transform: uppercase;
font-weight: bold;
transition: all .2s linear;
color: white;
}

.socials {
padding-left: 2px;
padding-right: 2px;
display: flex;
clear: both;
}

#edgelogo {
margin-right: 3%;
}

header nav ul li a:hover {
color: rgb(117, 116, 116);
text-shadow: 1px 1px #222222;
}

/* body, text */

body{
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  margin: auto;
  background-color: snow;
}

.bgimg {
  background-image: url("../images/clothes.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blurb {
  position: absolute;
  text-shadow: 2px 2px #222222;
  color: white;
  text-align: center;
}

#blurb h1 {
  font-size: 3em;
}

#blurb p {
  font-size: 1.5em;
}

#countdownTimer {
  padding-top: 160px;
  padding-bottom: 20px;
}

#contentOnImage {
  background-color: rgba(86, 86, 86, 0.911);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.downarrow {
  font-size: 3em;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  color: white;
  opacity: 90%;
  top: 92%;
}

.container {
  padding-top: 50px;
}

#testimonials {
  padding-top: 50px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#saleItems {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

#saleItemsHeader {
  
  text-align: left;
  margin-bottom: 0;
}

#apiData {
  border: 2px solid rgb(186, 186, 186);
  border-radius: 10px;
  margin-bottom: 30px;
  padding-right: 100px;
  padding-top: 40px;
  overflow-wrap: normal;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: space-between;
  grid-column-gap: 100px;
  grid-row-gap: 50px;
}

.product {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 5px;
  width: 100px;
}

.productImage {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.productImage{
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.productInfo {
  width: 150px;
  height: 150px;
  text-align: left;
}

#productTitle {
  height: 73px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

th, td {
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
}

/* footer */

footer {
  background-color: #2d2d2d;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.footercontainer {
  display: flex;
  width: 1000px;
  margin: auto;
  justify-content: center;
}

#footerlogo {
  margin-top: 50px;
  width: 50%;
  padding-left: 25%;
  padding-right: 35%;

}

.contact {
  margin-top: 10px;
}

.contact h3 {
  font-size: 1em;
  color: white;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.copyright {
  text-align: center;
}

.copyright h3 {
  font-size: 1em;
  color: white;
  text-align: right;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 55px;
}

.row {
  display: flex;
}

.w-33 {
  width: 33.33333%;
}
